node_modules/
.env
.claude/

public/uploads/images/*
public/uploads/videos/*
public/uploads/documents/*
!public/uploads/images/.gitkeep
!public/uploads/videos/.gitkeep
!public/uploads/documents/.gitkeep
